{
	"useTabs": true,
	"singleQuote": true,
	"trailingComma": "none",
	"printWidth": 96,
	"plugins": ["prettier-plugin-svelte", "prettier-plugin-tailwindcss"],
	"tailwindFunctions": ["tv"],
	"overrides": [
		{
			"files": "*.svelte",
			"options": {
				"parser": "svelte"
			}
		}
	]
}
